{% extends parent_template %}
{% block content %}
    <div id="homepage-slider" class="carousel slide col-sm-12" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
        {% for cake in cakes %}
            <li data-target="#homepage-slider" data-slide-to="{{ forloop.counter }}" class="{% if forloop.counter == 1 %}active{% endif %}"></li>
        {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
        {% for cake in cakes %}
            <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                <a href="/cake/{{ cake.slug }}" class="ajax-link"><img src="{{ cake.image.url }}" alt="{{ cake.name }}"></a>
            </div>
        {% endfor %}

          <!-- Left and right controls -->
        <a class="left carousel-control" href="#homepage-slider" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#homepage-slider" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>
{% endblock %}
